<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <a class="pin home" href="{{ path('index') }}">
            <img src="{{ asset('img/home.svg') }}" class="homeimg" alt="" width=46 height=46 />
            <span class="text">Accueil</span>
        </a>

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a class="pin account" href="{{ path('dashboard') }}">
                <img src="{{ vich_uploader_asset(app.user, 'avatar_file') }}" class="avatar" width=50 height=50 alt="avatar de {{ app.user.username }}"/>
                <span class="username text">{{ app.user.username }}</span>
            </a>
        {% else %}
            <a class="pin account" href="{{ path('app_login') }}">
                <span class="text">Login</span>
            </a>
        {% endif %}

        {% block body %}{% endblock %}

        <div class="pin social">
            <a class="github" href="https://github.com/galenskap/jesaispasquoidessiner_reboot" title="Get the code on Github">Github</a>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
